<div>
    <div class="swiper-container content">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="static/img/banner.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="static/img/banner.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="static/img/banner.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="static/img/banner.jpg" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>